{% extends "client/master.html" %}
{% block content %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Order </title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<div class="container mt-5 ">
    <h2>My Order List</h2>
    <div class="order-details"><br>
        <table>
            <thead>
            <tr>
                <!--                <th>Product Image</th>-->
                <th>Order ID</th>
                <th>Total</th>
                <th>Gst</th>
                <th>Final Total</th>

                <th></th>
                <!--                <th>User id</th>-->


            </tr>
            </thead>
            <tbody>
            {% for xy in data %}
            <tr>
                <!--                <td><img src="{{ xy.prod.image.url }}" height="25px" width="50px"></td>-->
                <td>{{ xy.id}}</td>

                <td>{{ xy.total}}</td>
                <td>{{ xy.gst}}</td>

                <td>{{ xy.finaltotal }}</td>
                <td>
                    <button type="submit" class="btn btn-secondary"><a
                            href="{% url 'productinvoice'  xy.id %}">View Invoice </a></button>
                </td>
                <!--                <td>{{ xy.user }}</td>-->

            </tr>
            {% endfor %}
            <!-- Add more items here -->
            </tbody>
        </table>
    </div>
</div>

</body>
{% endblock %}
