{% extends "client/master.html" %}
{% block content %}
{% load static %}
<section class="py-3 py-md-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-9 col-xl-8 col-xxl-7">
                <div class="row gy-3 mb-3">
                    <div class="col-6">
                        <h2 class="text-uppercase text-endx m-0">Invoice</h2>
                    </div>
                    <div class="col-6">
                        <a class="d-block text-end" href="#!">
                            <h2 class="m-0 text-primary"><i class="fa fa-car me-3"></i>CarServ</h2>
                        </a>
                    </div>
                    <div class="col-12">
                        <h4 class="row">
                            <span class="col-6">Invoice # CSV-256</span>
                        </h4>
                        <div class="row">

                            <strong class="col-6">Order ID : {{abc.id}}</strong>

                        </div>


                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-sm-6 col-md-8">
                        <h4>From</h4>
                        <address>
                            <b>Name</b> : CarServ<br>
                            <b>Address</b> : 875 N Coast Hwybr<br>
                            Laguna Beach, California, 92651<br>
                            United States<br>
                            <b>Phone</b>: 8378209173<br>
                            <b>Email</b>: mihir11@gmail.com
                        </address>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">

                        <h4>Bill To</h4>
                        <address>
                            <b>Name</b> : {{user.username}}<br>
                            <b>Address</b>: {{userdetail.address}}<br>
                            <b>Phone</b> : {{userdetail.phone}}<br>
                            <b>Email</b>: {{user.email}}
                        </address>

                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col" class="text-uppercase">Product</th>
                                    <th scope="col" class="text-uppercase text-end">Unit Price</th>
                                    <th scope="col" class="text-uppercase text-end">Qty</th>
                                    <th scope="col" class="text-uppercase text-end">Amount</th>
                                </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                {% for xy in data %}
                                <tr>
                                    <td>{{xy.product.name}}</td>
                                    <td class="text-end">{{xy.product.price}}</td>

                                    <td class="text-end">{{xy.quantity}}</td>
                                    <td class="text-end">{{xy.price}}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="3" class="text-end">Subtotal</td>
                                    <td class="text-end">{{abc.total}}</td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="text-end">GST</td>
                                    <td class="text-end">₹{{abc.gst}}</td>
                                </tr>

                                <tr>
                                    <th scope="row" colspan="3" class="text-uppercase text-end">Total</th>
                                    <td class="text-end">₹{{abc.finaltotal}}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-end">
                        <a href="{% url 'download_invoice_pdf' abc.id %}" class="btn btn-primary mb-3">Download
                            Invoice</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}