{% extends "stores/master.html" %}
{% block content %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store Details</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<div class="container mt-5">
    <h2 class="mb-4">Manage Use category Table</h2>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Use category full</th>
            <th>Where to use</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for xy in data %}
        <tr>
            <td>{{ xy.usecategory }}</td>
            <td>{{ xy.where_to_use }}</td>
            <td>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                         data-target="#basicModal" onclick="showDeletemodal('{{ xy.id }}')">
                    Delete
                </button>
            </td>
            <td>
                <button type="submit" class="btn btn-secondary"><a
                        href="{% url 'editusecate' xy.id %}">Edit</a></button>
            </td>


        </tr>
        {% endfor %}
        <div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog"
             aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Delete</h5>
                        <button type="button" class="close" onclick="showCancelConfirmationModal()" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this Category ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="showCancelConfirmationModal()">Cancel
                        </button>
                        <a id="deleteButton" href="#" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function showDeletemodal(itemId) {
                console.log('Delete button clicked');
                console.log(itemId);
                var deleteUrl = "/store/deleteusecate/" + itemId + "/";
                $('#deleteButton').attr('href', deleteUrl);
                $('#deleteConfirmationModal').modal('show');
                }
                function showCancelConfirmationModal() {
                $('#deleteConfirmationModal').modal('hide');
            }
        </script>

        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock %}
