{% extends "stores/master.html" %}
{% block content %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Request Form Client </title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h2 class="mb-4">Service Request From Client</h2>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Client Name</th>
            <th scope="col">Client Email</th>
            <th scope="col">Client Mobile NO.</th>
            <th scope="col">Date Of Service</th>
            <th scope="col">Types Of Service</th>
            <th scope="col">Service Store Branch </th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        {% for xy in servicereq %}
        <tr>
            <td>{{xy.c_name}}</td>
            <td>{{xy.c_email}}</td>
            <td>{{xy.c_phonenumber}}</td>
            <td>{{xy.date}}</td>
            <td>{{xy.service_type}}</td>
            <td>{{xy.service.s_name}}</td>
            {% if xy.status == "accepted" %}
            <td>Request Accepted </td>
            {% elif xy.status == "Take a New Date" %}
            <td>Request Rejected </td>
            {% else %}
            <td>
                <div class="btn-group">


                <button type="submit" style="" class="btn btn-secondary"><a
                        href="{% url 'acceptservice' xy.id %} " class="text-white">Accept</a></button>

                <button type="submit"  class="btn btn-danger "><a
                        href="{% url 'rejectservice' xy.id %}" class="text-white">Decline</a></button>
                     </div>
            </td>
            {% endif %}
        </tr>
        {% endfor %}

        <!-- Add more rows as needed -->
        </tbody>
    </table>
</div>

<!-- Bootstrap JS and dependencies -->
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
</body>
{% endblock %}
