<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Details Form</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2 class="mt-5 mb-4">Service Details Form</h2>
        <form method="post">
            {% csrf_token %}


            <div class="form-group">
                <label for="storeName">Store branch Name</label>
                <input type="text" name="s_name" class="form-control" id="storeName" required>
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <textarea class="form-control" name="address" id="address" rows="3" required></textarea>
            </div>
            <div class="form-group">
                <label for="storePhoneNumber">Store Phone Number</label>
                <input type="tel" name="s_phonenumber" class="form-control" id="storePhoneNumber" required>
            </div>
            <div class="form-group">
                <label for="emailAddress">Email Address</label>
                <input type="email" name="email" class="form-control" id="emailAddress" required>
            </div>
            <div class="form-group">
                <label for="openingTime">Opening Time</label>
                <input type="time" name="o_time" class="form-control" id="openingTime" required>
            </div>
            <div class="form-group">
                <label for="closingTime">Closing Time</label>
                <input type="time" name="c_time" class="form-control" id="closingTime" required>
            </div>


            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>
