<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Details Form</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2 class="mt-5 mb-4">Service Details Form</h2>
        <form method="post" enctype="multipart/form-data" action="/service/updatestore/{{service.id}}/">
            {% csrf_token %}

             <div class="form-group">
            <label for="storeName">Store Branch Name</label>
            <input type="text" name="s_name" value="{{service.s_name}}" class="form-control" id="storeName" required>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <textarea class="form-control" name="address" value="{{service.address}}" id="address" rows="3"
                      required></textarea>
        </div>
        <div class="form-group">
            <label for="storePhoneNumber">Store Phone Number</label>
            <input type="tel" name="s_phonenumber" value="{{service.s_phonenumber}}" class="form-control"
                   id="storePhoneNumber" required>
        </div>
        <div class="form-group">
            <label for="emailAddress">Email Address</label>
            <input type="email" name="email" value="{{service.email}}" class="form-control" id="emailAddress" required>
        </div>
        <div class="form-group">
            <label for="openingTime">Opening Time</label>
            <input type="time" name="o_time" value="{{service.o_time}}" class="form-control" id="openingTime" required>
        </div>
        <div class="form-group">
            <label for="closingTime">Closing Time</label>
            <input type="time" name="c_time" value="{{service.c_time}}" class="form-control" id="closingTime" required>
        </div>

            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</body>
</html>
